.cellContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  z-index: 10;
}

.resizer:hover,
.resizer:active {
  background-color: var(--vscode-focusBorder);
}
